{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/all",
    "plugin:react-native/all",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ],
  "rules": {
    "semi": "warn",
    "no-console": "off",
    "react-native/no-color-literals": 0,
    "react/require-optimization": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-no-literals": 0,
    "react/forbid-component-props": 0,
    "react/jsx-indent": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/jsx-boolean-value": 0,
    "react/no-set-state": 0,
    "react/jsx-handler-names": 0
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithAnnotation": true
    }
  }
}